<!DOCTYPE html>
<html>
  <head>
    <title>You're feeling angry!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: red;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        #angry-text {
            align-items: center;
            justify-content: center;
        }
    </style>
  </head>
  <body>
    <div id="angry-text">
        <h3>
            You're feeling angry! Take some deep breaths and center yourself 
        </h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wdturEfdkUs?si=hYL8zd6_4YOBuS-9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </body>
</html>
