<!DOCTYPE html>
<html>
  <head>
    <title>How are you feeling?</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
  </head>
  <body>
    <div id="gallery">
      {% for point in data %}
      <div class="window" style="width: 300px">
        <div class="title-bar">
          <div class="title-bar-text">Emotional Data</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            <p>{{point}}</p>
          </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
