<!DOCTYPE html>
<html>
  <head>
    <title>You're feeling scared!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        #fear-text {
            align-items: center;
            justify-content: center;
        }
    </style>
  </head>
  <body>
    <div id="fear-text">
        <h3>
            You're feeling scared! Boo!!
        </h3>
        <pre>
            .-.
            heehee      /aa \_
                      __\-  / )                 .-.
            .-.      (__/    /        haha    _/oo \
          _/ ..\       /     \               ( \v  /__
         ( \  u/__    /       \__             \/   ___)
          \    \__)   \_.-._._   )  .-.       /     \
          /     \             `-`  / ee\_    /       \_
       __/       \               __\  o/ )   \_.-.__   )
      (   _._.-._/     hoho     (___   \/           '-'
   jgs '-'                        /     \
                                _/       \    teehee
                               (   __.-._/
        </pre>
    </div>

  </body>
</html>
