<!DOCTYPE html>
<html>
  <head>
    <title>You're feeling happy!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: lightyellow;
            font-family: Arial, Helvetica, sans-serif;
        }

        #happy-text {
            align-items: center;
            justify-content: center;
        }
    </style>
  </head>
  <body>
    <div id="happy-text">
        <h3>
            You're feeling happy! Cute smile ^_^
        </h3>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5015skRvqs8?si=4_EX-60_eB1Qsl2u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </body>
</html>
