<!DOCTYPE html>
<html>
  <head>
    <title>How are you feeling?</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <script>
      function captureImage() {
        var video = document.querySelector("#videoElement");
        var canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        return canvas.toDataURL();
      }

      function sendImage() {
        var imageData = captureImage();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:3000/image", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var response = JSON.parse(xhr.responseText);
            console.log(response[0].dominant_emotion);
            displayResult(response);
            var detectedEmotion = response[0].dominant_emotion;

            if (detectedEmotion === "happy") {
              window.location.href = "/happy_route";
            } 
            else if (detectedEmotion === "sad") {
              window.location.href = "/sad_route";
            }
            else if (detectedEmotion === "fear") {
              window.location.href = "/fear_route";
            }
            else if (detectedEmotion === "angry") {
              window.location.href = "/angry_route";
            }
            else if (detectedEmotion === "surprise") {
              window.location.href = "/surprised_route";
            }
            else if (detectedEmotion === "neutral") {
              window.location.href = "/";
            }
            else {
              console.log("Unhandled emotion: " + detectedEmotion);
            }
          }
        };
        xhr.send(JSON.stringify({ image: imageData }));
      }

      function displayResult(data) {
        var resultDiv = document.getElementById("result");
        resultDiv.innerHTML =
          "<pre>" + JSON.stringify(data, null, 2) + "</pre>";

        

      }
    </script>

  </head>
  <body>
    <style>
      body {
          background-color: #6c6c6c;
      }
      #boss{
        width: 800px;
      }
  </style>
    <button id="boss"><a href="{{ url_for('expressions') }}">gallery</a></button>
    <button onclick="sendImage()"><a href="{{ url_for('fancytown') }}">go to fancy town</a></button>
    <video id="videoElement" autoplay></video>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()"><a href="{{ url_for('fancytown') }}">go to fancy town</a></button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button
    ><button onclick="sendImage()">How are ya doing</button>
    <div id="result"></div>

    <script>
      var video = document.querySelector("#videoElement");
      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (error) {
            console.log("Something went wrong!");
          });
      }
    </script>
  </body>
</html>
